{% extends 'base.html' %}
{% block 'class_body' %}class="sb-nav-fixed"{% endblock 'class_body' %}
{% block 'conteudo' %}        
        {% include 'menu.html' %}
        <div id="layoutSidenav">
            
            {% include 'lateral_menu.html' %}

            <div id="layoutSidenav_content">
                <h1 class="mt-4">Controle de Gastos</h1>
                
                {% include 'tables/tb_gasto.html' %}
                   

                {% include 'footer.html' %}
            </div>
        </div>
        
{% endblock 'conteudo' %} 
