{% load static %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Tabela das Rendas
    </div>
    <div class="card-body">
        <table class="table" id="datatablesSimple">
            <thead>
                <tr>
                    <th scope="col">Renda Principal</th>
                    <th scope="col">Renda Secundaria</th>
                    <th scope="col">Data</th>
                    <th scope="col">Alterar Renda</th>
                    <th scope="col">Excluir Renda</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th scope="col">Renda Principal</th>
                    <th scope="col">Renda Secundaria</th>
                    <th scope="col">Data</th>
                    <th scope="col">Alterar Renda</th>
                    <th scope="col">Excluir Renda</th>
                </tr>
            </tfoot>
            
            <tbody>
                {% for renda in rendas %}
                    <tr>
                        <td> {{ renda.renda_principal }} </td>
                        <td> {{ renda.renda_secundaria }} </td>
                        <td> {{ renda.data }} </td>
                        <td><a href="{% url 'ver_renda' renda.id %}" class="btn btn-info">Alterar Renda</a></td>
                        <td><a href="{% url 'excluir_renda' renda.id %}" class="btn btn-danger">Excluir Renda</a></td>
                    </tr> 
                {% endfor %}           
            </tbody>
        </table>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Tabela de Gastos
    </div>
    <div class="card-body">
        <table class="table" id="datatablesSimple2">
            <thead>
                <tr>
                    <th scope="col">Gasto</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data</th>
                    <th scope="col">Alterar Gasto</th>
                    <th scope="col">Excluir Gasto</th>
                </tr>
            </thead>

            {% comment %} <tfoot>
                <tr>
                    <th scope="col">Gasto</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data</th>
                    <th scope="col">Alterar Gasto</th>
                    <th scope="col">Excluir Gasto</th>
                </tr>
            </tfoot> {% endcomment %}
            
            <tbody>
                {% for gasto in page_gasto.object_list %}
                    <tr>
                        <td> {{ gasto.gasto }} </td>
                        <td> {{ gasto.valor }} </td>
                        <td> {{ gasto.data }} </td>
                        <td><a href="{% url 'ver_gasto' gasto.id %}" class="btn btn-info">Alterar Gasto</a></td>
                        <td><a href="{% url 'excluir_gasto' gasto.id %}" class="btn btn-danger">Excluir Gasto</a></td>
                    </tr> 
                {% endfor %}           
            </tbody>
        </table>
        <div class="page-link">
            {% if page_gasto.has_previous %}
                <a href="{% url 'index' %}?page={{ page_gasto.previous_page_number }}">Anterior</a>
            {% endif %}
            {% if page_gasto.has_next %}
                <a href="{% url 'index' %}?page={{ page_gasto.next_page_number }}">Proximo</a>
            {% endif %}
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
    <script src="{% static 'assets/demo/datatables-demo.js' %}"></script>