<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div>
                <a href="https://github.com/WilianSantos/Controle_Gastos_DJANGO.git"><i class="icone fa-brands fa-github"></i></a>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/wilian-soares-dos-santos-115328124/"><i class="icone fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>