<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="{% url 'index' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Controle de Gastos
                </a>
                <div class="sb-sidenav-menu-heading">Graficos e Tabelas</div>
                <a class="nav-link" href="{% url 'tabela_renda' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Tabela Renda
                </a>
                <a class="nav-link" href="{% url 'tabela_gasto' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Tabela Gasto
                </a>
                <a class="nav-link" href="{% url 'graficos' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Graficos
                </a>
            </div>
        </div>
        {% if usuario_logado %}
            <div class="sb-sidenav-footer">
                <div class="small">Logado:</div>
                {{ usuario.nome }}
            </div>
        {% endif %}
    </nav>
</div>